/***Fonts***/
.ubuntu-bold-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: italic;
  }


/***General Styles***/
body {
    margin: none;
    padding: none;
    font-family: "Ubuntu", sans-serif;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #090909;
}


/***Background Sparkle Effect***/
.sparkling-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none; /*Ensures background doesn't interfere with other elements*/
    z-index: 1;
}

.sparkle {
    position: absolute;
    width: 10px;
    height: 30px;
    animation: sparkle-animation 5s infinite;
}

@keyframes sparkle-animation {
    0%, 100% {
        opacity: 0.2;
    }
    50% {
        opacity: .5;
    }
}


/***Container***/
.container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
}


/***Welcome Card***/
.welcome-card {
    background-color: #1a1919;
    width: 30rem;
    padding: 1rem;
    text-align: center;
    z-index: 2;
    border: 3px solid #04ff00;
    cursor: pointer;
    user-select: none;
}

.welcome-card.visible {
    margin-right: 2rem;
}

.welcome-portfolio {
    font-size: 80px;
    text-decoration: none;
    text-transform: lowercase;
    transition: 0.5s;
    letter-spacing: 3px;
    margin: 5px;
    padding: 3px;  
}

#click-here {
    font-size: large;
    text-decoration: underline;
    white-space: nowrap;
    display: inline;
}

.glow-text {
    color: #03ffff;
    text-shadow:
        1px 1px 5px #00c0fe80,
        1px 1px 10px #00c0fe66,
        1px 1px 15px #00c0fe4d,
        1px 1px 20px #00c0fe33;
    transition-duration: 0.25s;
}

.glow-text:hover {
    color: #e8ff01;
    text-shadow: 
        3px 3px 10px #ffff00b3,
        3px 3px 20px #ffff0099,
        3px 3px 30px #ffff0080,
        3px 3px 40px #ffff0066;
}


/***Shapes***/
.image-button {
    display: inline-block;  /*Makes button fit the image*/
    border: none;
    padding: 0;
    cursor: pointer;
    background: none;   /*Remove default button background*/
}

.image-button img {
    display: block; /*Ensures no extra space around image*/
}


/***Shape Animation***/
.shapes {
    display: none;
    flex-direction: column;
    align-items: center;
    z-index: 1; /*Puts images behind card*/
}

.shapes.hidden {
    display: none;
}

.shapes.visible {
    display: flex;
    opacity: 1; /*Initially hides the image*/
}

/***About Me & Project List***/
#about-me, #project-list {
    display: none;
    color: white;
    letter-spacing: normal;
    transition: opacity 0.75s ease;
    background-color: #1a1919;
    user-select: none;
    z-index: 1;
    margin-left: 2rem;
}

#about-me h2 {
    text-align: center;
    margin-top: .5rem;
}

#about-me.hidden, #project-list.hidden {
    display: none;
}

#about-me.visible, #project-list.visible {
    display: block;
    opacity: 1;
    transform: translateX(0);
    border: 5px groove #ff69b4;
    max-width: 30%;
    padding: 20px;
}






