/***Fonts***/
.ubuntu-bold-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: italic;
  }

/***General Styles***/
body {
    margin: none;
    padding: none;
    font-family: "Ubuntu", sans-serif;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: black;
}


/***Background Sparkle Effect***/
.sparkling-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none; /*Ensures background doesn't interfere with other elements*/
    z-index: 1;
}

.sparkle {
    position: absolute;
    width: 10px;
    height: 30px;
    animation: sparkle-animation 5s infinite;
}

@keyframes sparkle-animation {
    0%, 100% {
        opacity: 0.2;
    }
    50% {
        opacity: .5;
    }
}

/***Welcome Card***/
.welcome-card {
    background-color: rgb(26, 25, 25);
    width: 30%;
    text-align: center;
    z-index: 2;
    position: absolute;
    border: 3px solid rgb(4,255,0);
    cursor: pointer;
    transition: transform 0.5s ease-in; /*Add transition for smooth sliding*/
}

.welcome-card.active {
    left: calc(50% - 300px);
    transform: translateX(-50%);  /*slide to the left by 300px on hover*/
}

#welcome-portfolio {
    font-size: 80px;
    text-decoration: none;
    text-transform: lowercase;
    transition: 0.5s;
    letter-spacing: 3px;
    margin: 5px;
    padding: 3px;  
}

#click-here {
    font-size: large;
    text-decoration: underline;
}

.glow-text {
    color: rgb(3,255,255);
    text-shadow:
        1px 1px 5px rgb(0,192,254, 0.5),
        1px 1px 10px rgb(0,192,254, 0.4),
        1px 1px 15px rgb(0,192,254, 0.3),
        1px 1px 20px rgb(0,192,254, 0.2);
    transition-duration: 0.25s;
}

.glow-text:hover {
    color: rgb(232,255,1);
    text-shadow: 
        3px 3px 10px rgba(255, 255, 0, 0.7),
        3px 3px 20px rgba(255, 255, 0, 0.6),
        3px 3px 30px rgba(255, 255, 0, 0.5),
        3px 3px 40px rgba(255, 255, 0, 0.4);
}

/***Shapes***/
.shapes {
    position: absolute;
    top: 50%;
    left: calc(50% + 50px);
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transition: opacity 1s ease, transform 1s ease;
    z-index: 1; /*Puts images behind card*/
}

.shapes.visible {
    opacity: 1; /*Initially hides the image*/
    left: calc(50% - 50px);
    transform: translate(0, -50%);
}

.image-button {
    display: inline-block;  /*Makes button fit the image*/
    border: none;
    padding: 0;
    cursor: pointer;
    background: none;   /*Remove default button background*/
}

.image-button img {
    display: block; /*Ensures no extra space around image*/
}

/***Shape Animation***/
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.shapes .shape {
    opacity: 1;
    margin: 10px;
    animation: fadeIn 0.5s ease-out forwards;   /*Apply the fade-in effect to shapes*/
    animation-duration: 1s;
}

.shapes .circle {
    animation-delay: 0.75s; /*Add specific delays to each shape*/
    /* border: 3px solid white; */
}

.shapes .square {
    animation-delay: 1.25s;
    /* border: 3px solid gray; */
}

.shapes .triangle {
    animation-delay: 1.5s;
    /* border: 3px solid red; */
}



/***About Me***/
#about-me {
    display: none;
    position: absolute;
    top: 0;
    left: 75%;
    color: white;
    transition: opacity 0.75s ease;
}

#about-me.visible {
    display: block;
    opacity: 1;
    transform: translateX(0);
    border: 3px solid hotpink;
}

#about-me:not(.visible) {
    opacity: 0;
    transform: translateX(-20px);
}